/* 7 seg font */
@font-face {
    font-family: 'segment7';
    src: url(./assets/7segment.woff);
}

:root {
    --screen-width: 800px;
    --screen-height: 480px;
}

body, html {
    overflow: hidden;
    background-color: black;
    max-width: var(--screen-width);
    max-height: var(--screen-height);
    /* text */
    color: white;
    font-family: 'segment7';
}

span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.error-emitter {
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    text-align: center;
    /* hidden by default */
    display: none;
}

.red {
    color: red;
}

.white {
    color: white;
}

/* h1 tags are only used by the error emitter */

h1.error-message {
    top: 50%;
    left: 50%;
    vertical-align: middle;
    text-align: center;
    line-height: normal;
    color: black;
}

.visible {
    display: flex !important;
}

/* 
    grid system, defines 4 small slots and one main slot
    may change in the future as we get driver feedback
*/

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(110px, auto);
}

/* outlines the slots */

.highlight {
    -webkit-box-shadow: 0 0 20px white !important;
    -moz-box-shadow: 0 0 20px white !important;
    box-shadow: 0 0 20px white !important;
}

label {
    font-size: small;
}

.slot {
    position: relative;
    text-align: center;
    font-size: 2em;
}

/* top-left */

.tl {
    grid-column: 1;
    grid-row: 1;
}

/* top-right */

.tr {
    grid-column: 3;
    grid-row: 1;
}

/* bottom-left */

.bl {
    grid-column: 1;
    grid-row: 4;
}

/* bottom-right */

.br {
    grid-column: 3;
    grid-row: 4;
}

/* center */

.center {
    font-size: 9em;
    grid-column: 2;
    grid-row: 1 / 5;
}