 [Unit]
 Description=UArizona FSAE Dashboard
 After=multi-user.target

 [Service]
 Type=idle
 # @TODO CHANGE ONCE PACKAGENAME HAS CHANGED
 ExecStart=/bin/bash /home/pi/launch-dash.sh

 [Install]
 WantedBy=multi-user.target